@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tempcover interview test</h1>
	<p class="lead">
		This test is designed to provide you with a platform to demonstrate the way that you code in an ideal world. We are not looking for a fully working solution, but rather a demonstration of the way you would refactor and design the code. This will provide us with a way of seeing how you would architect good code and also act as a discussion point. Please design your code with an appreciation for:
		<ul>
			<li>SOLID principles</li>
			<li>TDD</li>
		</ul>
	</p>
</div>

<div class="row">
    <div class="col-md-push-4 col-md-4">
        <h2>Start here</h2>
        <p>
            To begin the test click the link below.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "RobsDogs")">Start test &raquo;</a></p>
    </div>
</div>